/* Import custom font */
@font-face {
  font-family: "OrangeJuice";
  src: url("orange juice 2.0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* General */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial Rounded MT Bold", "Comic Sans MS", sans-serif;
  color: deeppink;
}

/* Login Background */
#login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1,
h5,
h6 {
  font-family: "OrangeJuice", cursive;
  font-size: 8.5rem;
}
h4 {
  font-family: "OrangeJuice", cursive;
  font-size: 2.5rem;
  color: rgb(240, 126, 187);
}
h2,
h3 {
  font-family: "OrangeJuice", cursive;
  font-size: 5.5rem;
  color: rgb(54, 1, 29);
}

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/videos/login-bg.mp4") no-repeat center center/cover;
}

.login-form {
  background: rgba(10, 10, 10, 0);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
}

.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.login-form button {
  padding: 10px;
  border-radius: 1px;
  border: none;
  background-color: #2d4a7d;
  color: blanchedalmond;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #456abf;
}

/* Game Modes */
.gamemodes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.game-mode {
  width: 370px; /* approx 8w */
  height: 500px; /* approx 15l */
  background: rgba(200, 200, 200, 0.4);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.game-mode h2 {
  text-align: center;
  z-index: 2;
}

.game-mode:hover {
  background: transparent;
}

.game-mode-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: top;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  text-align: center;
  flex-direction: column;
}

.game-mode:hover .game-mode-description {
  opacity: 1;
}
